@model IhsanWeb.ViewModel.ProductDetailViewModel
@{
    ViewData["Title"] = $"{Model.Name}'s Details";
}

<div class="row">
    <h1>@Model.Name</h1>
    <p>Price: <span class="badge text-bg--info">@Model.Price</span></p>
    <p>Model.Description</p>
</div>