@model IhsanWeb.ViewModel.UpdateProductViewModel
@{
    ViewData["Title"] = "Update Product";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ErrorMessage !=null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
<form asp-action="Update" asp-controller="Product">
    <label asp-for="Name"></label>
    <input type="hidden" method="put" value="@Model.Name">
    <span asp-validation-for="Name" class="text-bg-warning"></span>
    <br />

    <label asp-for="Price"></label>
    <input asp-for ="Price"/>
    <span asp-validation-for="Price" class="text-bg-warning"></span>
    <br />
    
    <label asp-for="Description"></label>
    <input asp-for="Description"/>
    <br>
    
    <input type="submit" value="Update Product" />
</form>
