@{
    ViewData["Title"] = "About page";
}

<link rel="stylesheet" href="~/css/site.css" />
<main class="about">
    <section class="up">
        <h1 style="justify-self: center;">This page is all about who Ihsan is on the IhsanWeb mate</h1>
    </section>
    <section class="down">
        <div class="left">
            <p>Just here for fun</p>
            <p>So feel free to dial me at 019939393</p>
        </div>
        <div class="center"></div>
        <div class="right"></div>
    </section>
</main>