@{
    ViewData["Title"] = "About page";
}

<link rel="stylesheet" href="~/css/site.css" />
<main class="about">
    <section class="up">
        <h1>This page is all about who Ihsan is on the IhsanWeb mate</h1>
    </section>
    <section class="down">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </section>
</main>