@{
    ViewData["Title"] = "Privacy Policy";
}
@model Product
<h1>Name: @Model.Name</h1>
<p>Price: @Model.Description</p>
<p>Use this page to detail your site's privacy policy.</p>
<p>@if (@Model.ID>4)
    {
        <p>There are over 4 products on this page</p>
    }
</p>