@{
    ViewData["Title"] = "Test Page";
}
@model IEnumerable<IhsanWeb.Models.TestItems>



<table class="table table-danger">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Test Name</th>
            <th>Status of Test</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TestName</td>
                <td>@item.TestStatus</td>
            </tr>
        }
    </tbody>
</table>