@{
    ViewData["Title"] = "Contact";
}
@model ContactModel

<h1>Contact me @Model.Email</h1>
<p>Although, you can also contact me through 8187357029 (opay)</p>
<p>but my real phone number is @Model.PhoneNumber</p>